{% extends 'base.html' %}

{% load static %}

{% block content %}

<section class="w3l-main-slider" id="home">
  <!-- main-slider -->
  <div class="companies20-content">

    <div class="owl-one owl-carousel owl-theme">
      <div class="item">
        <li>
          <div class="slider-info banner-view bg bg2">
            <div class="banner-info">
              <div class="container">
                <div class="banner-info-bg">
                  <h5>Мы предлагаем лучшие решения для зубов</h5>
                  <p>Наша компания уже 30 лет занимается качественным обслуживанием полости рта пациентов.</p>
                  <a class="btn btn-style btn-style-outline mt-sm-5 mt-4" href="services.html">Наш сервис</a>
                </div>
              </div>
            </div>
          </div>
        </li>
      </div>
      <div class="item">
        <li>
          <div class="slider-info  banner-view banner-top1 bg bg2">
            <div class="banner-info">
              <div class="container">
                <div class="banner-info-bg">
                  <h5>Помогаем оставаться вам счастливыми</h5>
                  <p>Мы заботимся о счастье наших пациентов так как мы работаем на имя.</p>
                    <a class="btn btn-style btn-style-outline mt-sm-5 mt-4" href="services.html">Наш сервис</a>
                </div>
              </div>
            </div>
          </div>
        </li>
      </div>
      <div class="item">
        <li>
          <div class="slider-info banner-view banner-top2 bg bg2">
            <div class="banner-info">
              <div class="container">
                <div class="banner-info-bg">
                  <h5>Наши пациенты доверяют нам.</h5>
                  <p>Годы работы в сфере стоматологии принесли нам доверие наших пациентов .</p>
                    <a class="btn btn-style btn-style-outline mt-sm-5 mt-4" href="services.html">Наш сервис</a>
                </div>
              </div>
            </div>
          </div>
        </li>
      </div>
      <div class="item">
        <li>
          <div class="slider-info banner-view banner-top3 bg bg2" >
            <div class="banner-info">
              <div class="container">
                <div class="banner-info-bg">
                  <h5>Наилучшее оборудование из Европы</h5>
                  <p>У нас тщательный подбор оборудования по критериям качества, надежности и эффективности.</p>
                    <a class="btn btn-style btn-style-outline mt-sm-5 mt-4" href="services.html">Наш сервис</a>
                </div>
              </div>
            </div>
          </div>
        </li>
      </div>
    </div>
  </div>
</div>
  <!-- /main-slider -->
</section>
<!-- w3l-features-photo-7 -->
<section class="w3l-features-photo-7 py-5">
      <div class="w3l-features-photo-7_sur py-lg-5 py-sm-3">
          <div class="container">
              <div class="row">
                  <div class="col-lg-8 w3l-features-photo-7_top-left"
                       data-aos="fade-right"
                       data-aos-offset="800"
                       data-aos-easing="ease-in-sine"
                       data-aos-duration="1000">
                      <h2>Доктор Мадина Магомедовна</h2>
                      <p class="mb-lg-5 mb-4">Заведующий отделением нашей стоматологии</p>
                      <h4>Я предоставлю вам полное обследование и дальнейшее лечение в нашей клинике</h4>
                      <p>Доктор Мадина Магомедовна имеет два высших мед. образования, защитила докторскую и
                          теперь уже на основе своих огромных знаний помогает нашим пациентам
                      </p>
                      <div class="feat_top">
                          <div class="w3l-features-photo-7-box">
                              <div class="icon">
                                <img src="{% static 'images/heart.png' %}" class="img-fluid"/>
                              </div>
                              <div class="info-feature">
                                  <h5 class="w3l-features-photo-7-box-txt"><a href="#url">Острая боль в зубах</a></h5>
                                  <p>Восстановим нервные каналы в зубах и устраним боль</p>
                              </div>
                          </div>
                          <div class="w3l-features-photo-7-box">
                            <div class="icon">
                              <img src="{% static 'images/icon1.png' %}" class="img-fluid"/>
                            </div>
                              <div class="info-feature">
                                  <h5 class="w3l-features-photo-7-box-txt"><a href="#url">Зуб утрачен</a></h5>
                                  <p>Вернем утрату благодаря нашим лучшим имплантам</p>
                              </div>
                          </div>
                          <div class="w3l-features-photo-7-box">
                            <div class="icon">
                              <img src="{% static 'images/sthethoscope.png' %}" class="img-fluid"/>
                            </div>
                              <div class="info-feature">
                                  <h5 class="w3l-features-photo-7-box-txt"><a href="#url">Боль в деснах</a></h5>
                                  <p>Вылечим и сделаем так чтобы не повторилось</p>
                              </div>
                          </div>
                          <div class="w3l-features-photo-7-box">
                            <div class="icon">
                              <img src="{% static 'images/ambulance.png' %}" class="img-fluid"/>
                            </div>
                              <div class="info-feature">
                                  <h5 class="w3l-features-photo-7-box-txt"><a href="#url">Выпала пломба</a></h5>
                                  <p>Поставим новую инновационную пломбу</p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-4 w3l-features-photo-7_top-right mt-lg-0 mt-4">
                      <img src="{% static 'images/doctor1.jpg' %}" class="img-fluid" alt="" />
                  </div>
              </div>
          </div>
      </div>
  </section>
<!-- //w3l-features-photo-7 -->
<section class="w3l-video-sec">
	<div class="video-inner py-5"
         data-aos="zoom-in"
         data-aos-offset="800"
         data-aos-duration="1000">
		<div class="overlay1 py-lg-5 py-sm-3">
			<div class="container">
				<div class="video-content">
					<img src="{% static 'images/heart-big.png' %}" class="img-fluid" alt="" />
					<h4><a href="#url">Мы предоставляем услуги высшего качества.</a></h4>
					<p>Видео-отрывок работ наших профессионалов.</p>
					<a href="#notify" class="play-button btn"><span class="fa fa-play pl-1" aria-hidden="true">

						</span></a>

					<!-- Видео-->
					<div id="notify" class="notify-pop-overlay">
						<div class="notify-popup">
							<h5>У нас одна из самых лучших клиник в РФ</h5>
							<iframe width="560" height="315" src="https://www.youtube.com/embed/U24WMWyMr08"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
							<a class="close" href="#close">&times;</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- services page block 1 -->
<section class="w3l-features py-5">
    <div class="container py-lg-5 py-3"
         data-aos="fade-up"
         data-aos-offset="800"
         data-aos-duration="3000">
        <div class="row main-cont-wthree-2">
            <div class="col-lg-6 feature-grid-right">
                <img src="{% static 'images/healthcare.jpg' %}" class="img-fluid" alt="healthcare">
            </div>
            <div class="col-lg-6 feature-grid-left mt-lg-0 mt-sm-5 mt-4">
                <h4 class="title-left">У нас одна из самых лучших клиник в России</h4>
                <p class="text-para">Наша клиника прокладывала себе тропу доверия долгие годы и вот сейчас мы здесь чтобы внести частичку добра в этот мир </p>
                <div class="stats_main text-center">
                    <div class="w3l-stats">
                        <div class="">
                            <img src="{% static 'images/patients.png' %}" class="img-fluid">
                        </div>
                        <div class="info-feature mt-3">
                            <h5 class="w3l-stats-txt"><a href="#url">2000</a></h5>
                            <p class="stats-text">Пациентов в месяц</p>
                        </div>
                    </div>
                    <div class="w3l-stats">
                        <div class="">
                            <img src="{% static 'images/services.png' %}" class="img-fluid">
                        </div>
                        <div class="info-feature mt-3">
                            <h5 class="w3l-stats-txt"><a href="#url">457</a></h5>
                            <p class="stats-text">Видов услуг</p>
                        </div>
                    </div>
                    <div class="w3l-stats">
                        <div class="">
                            <img src="{% static 'images/award.png' %}" class="img-fluid">
                        </div>
                        <div class="info-feature mt-3">
                            <h5 class="w3l-stats-txt"><a href="#url">1,395</a></h5>
                            <p class="stats-text">Наград</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- services page block 1 -->
<section class="w3l-apply-6" id="appointment">
	<!-- /apply-6-->
	<div class="apply-info py-5"
         data-aos="fade-right"
         data-aos-offset="800"
         data-aos-duration="1000">
		<div class="container py-lg-5 py-sm-3">
			<div class="apply-grids-info row">
				<div class="apply-gd-left col-lg-5">
					<h4>Записаться на прием</h4>
					<p class="para-apply">Мы отправим вам уведомление в течении 24 часов.</p>
					<div class="mt-lg-5 mt-4">
						<div class="sub-apply mt-5">
							<div class="apply-sec-info">
								<div class="icon">
									<img src="{% static 'images/icon1.png' %}" class="img-fluid">
								</div>
								<div class="appyl-sub-icon-info">
									<h5><a href="blog-single.html">Уход за зубами</a></h5>
									<p>Для долговечной белизны зубов нужно за ними ухаживать и чистить.</p>
									<a href="#url" class="learn">Читать далее...<i class="fa fa-long-arrow-right ml-2"></i></a>
								</div>
							</div>
						</div>
						<div class="sub-apply mt-5">
							<div class="apply-sec-info">
								<div class="icon">
									<img src="{% static 'images/sthethoscope.png' %}" class="img-fluid">
								</div>
								<div class="appyl-sub-icon-info">
									<h5><a href="blog-single.html">Правильное питание</a></h5>
									<p>Чтобы зубы были здоровы требуется правильное питание.</p>
									<a href="#url" class="learn">Читать далее...<i class="fa fa-long-arrow-right ml-2"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="apply-gd-right offset-lg-1 col-lg-6 mt-lg-0 mt-5">
					<div class="apply-form p-sm-5 p-4">
						<h5>Заполните форму чтобы связаться с нами</h5>
						<form action="#" method="post">
							<div class="admission-form">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Полное имя*" required="">
								</div>
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Номер телефона*" required="">
								</div>
								<div class="form-group">
									<input type="email" class="form-control" placeholder="Email*" required="">
								</div>
								<select class="form-control">
									<option>Цель визита</option>
									<option>2</option>
									<option>3</option>
								</select>
							</div>
							<div class="form-group">
								<textarea name="Comment" class="form-control" placeholder="Подробнее*" required=""></textarea>
							</div>
							<button type="submit" class="btn btn-primary submit">Отправить сейчас</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- //apply-6-->
<section class="w3l-call-to-action_9 py-5">
    <div class="call-w3">
        <div class="container">
            <div class=" main-cont-wthree-2">
                <div class="left-contect-calls text-center">
                    <h3 class="title mb-sm-5 mb-4">Сертификаты & стандарты</h3>
                  <div class="call-grids-w3 ">
                        <a href="#url" class="">
                            <img src="{% static 'images/logo1.png' %}" class="img-fluid" alt="">
                        </a>

                        <a href="#url" class="">
                            <img src="{% static 'images/logo2.png' %}" class="img-fluid" alt="">
                        </a>
                        <a href="#url" class="">
                            <img src="{% static 'images/logo3.png' %}" class="img-fluid" alt="">
                        </a>
                        <a href="#url" class="">
                            <img src="{% static 'images/logo4.png' %}" class="img-fluid" alt="">
                        </a>
                        <a href="#url" class="">
                            <img src="{% static 'images/logo5.png' %}" class="img-fluid" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}