<div class="{{ menu_class }}" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}">Главная</a>
        </li>
        {% for item in about %}
        <li class="nav-item">
            <a class="nav-link" href="{{ item.get_url_about }}">{{ item.title }}</a>
        </li>
        {% endfor %}
        {% for item in contact %}
        <li class="nav-item">
            <a class="nav-link" href="{{ item.get_url_contact }}">{{ item.title }}</a>
        </li>
        {% endfor %}
        {% for item in services %}
        <li class="nav-item">
            <a class="nav-link" href="{{ item.get_url_services }}">{{ item.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>