{% extends 'base.html' %}

{% load static %}

{% block content %}

<section class="w3l-about-breadcrumb">
    <div class="breadcrumb-bg breadcrumb-bg-services py-5">
      <div class="container py-lg-5 py-md-3">
        <h2>Нащи услгуи</h2>
        <p>Подробнее о наших услугах</p>
      </div>
    </div>
  </section>
<!-- Content-with-photo23 block -->
<section class="w3l-features-7 py-5">
    <!-- /features -->
    <div class="features py-lg-5 py-sm-3" id="services">
        <div class="container">
            <h3 class="title text-center mb-sm-5 mb-4 pb-lg-4">Мы предоставляем услуги высокого качества</h3>
            <div class="row fea-gd-vv">
                <div class="col-lg-4 col-md-6 float-lt feature-gd">
                    <div class="icon"> <img src="{% static 'images/s1.png' %}" class="img-fluid"></div>
                    <div class="icon-info">
                        <h5><a href="#url">Кровотечения в полости рта</a></h5>
                        <p>При кровотечении из полости рта необходимо срочно обратиться именно в нашу клинику</p>
                    </div>

                </div>
                <div class="col-lg-4 col-md-6 float-mid feature-gd mt-md-0 mt-sm-5 mt-4">
                    <div class="icon"> <img src="{% static 'images/s2.png' %}" class="img-fluid"></div>
                    <div class="icon-info">
                        <h5><a href="#url">Лучшие лекарства</a></h5>
                        <p>Мы испольузем импортные расходные материалы лекарства только высшего качества </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 float-rt feature-gd mt-lg-0 mt-sm-5 mt-4">
                    <div class="icon"> <img src="{% static 'images/s3.png' %}" class="img-fluid"></div>
                    <div class="icon-info">
                        <h5><a href="#url">Приятная анастезия</a></h5>
                        <p>Преимущесвто нашей компании в том что мы используем бесчувственную анастезию</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 float-lt feature-gd mt-sm-5 mt-4">
                    <div class="icon"> <img src="{% static 'images/s4.png' %}" class="img-fluid"></div>
                    <div class="icon-info">
                        <h5><a href="#url">Пломбирование</a></h5>
                        <p>Пломбирование у нас происходит по инновационным технологиям</p>
                    </div>

                </div>
                <div class="col-lg-4 col-md-6 float-mid feature-gd mt-sm-5 mt-4">
                    <div class="icon"> <img src="{% static 'images/s5.png' %}" class="img-fluid"></div>
                    <div class="icon-info">
                        <h5><a href="#url">Хирургия</a>
                        </h5>
                        <p>Проведение сложных хирургических операций полости рта</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 float-rt feature-gd mt-sm-5 mt-4">
                    <div class="icon"> <img src="{% static 'images/s6.png' %}" class="img-fluid"></div>
                    <div class="icon-info">
                        <h5><a href="#url">Инфекционные заболевания</a>
                        </h5>
                        <p>Лечении инфекций и воспалительных процессов десен и зубов</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //features -->
</section>
<!-- services 1-->
<section class="w3l-services-1 py-5">
	<div class="services1 py-lg-5 py-sm-3">
		<div class="container">
            <h3 class="title text-center mb-sm-5 mb-4">Наши специалисты</h3>
			<div class="row services1-content w3l-news">
				<div class="col-lg-4 col-md-6 column">
					<a href="#url" class="zoom">
						<img src="{% static 'images/s1.jpg' %}" class="img-fluid" alt="" />
						<div class="service-info">
							<h4 class="course">Обследование</h4>
							<p>Проведение нужных обследований для дальнейшего лечения</p>
							<a href="#url" class="feature-link">Читать далее <span class="fa fa-long-arrow-right"></span></a>
						</div>
					</a>
				</div>
				<div class="col-lg-4 col-md-6 column mt-lg-0 mt-sm-5 mt-4">
					<a href="#url" class="zoom">
						<img src="{% static 'images/blog1.jpg' %}" class="img-fluid" alt="" />
						<div class="service-info">
							<h4 class="course">Лечение</h4>
							<p>Выполнение работ в полости рта</p>
							<a href="#url" class="feature-link">Читать далее <span class="fa fa-long-arrow-right"></span></a>
						</div>
					</a>
				</div>
				<div class="col-lg-4 col-md-6 column mt-lg-0 mt-sm-5 mt-4">
					<a href="#url" class="zoom">
						<img src="{% static 'images/s4.jpg' %}" class="img-fluid" alt="" />
						<div class="service-info">
							<h4 class="course">Гарантии и постоянная связь с клиентом</h4>
							<p>Мы даем не только гарантии, но и связываемся с нашими клиентами для уточнения самочувствия полости рта</p>
							<a href="#url" class="feature-link">Читать далее <span class="fa fa-long-arrow-right"></span></a>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Medical Checkup -->
<section class="w3l-grid-quote py-5 bg-primary">
    <div class="container py-lg-3">
        <h6><img src="{% static 'images/sthethoscope.png' %}" class="img-fluid"> Специальное предложение!</h6>
        <h3>Пройдите бесплатное медицинское обследование </h3>
        <a href="index.html#appointment" class="btn btn-secondary btn-style-white">Записаться на прием</a>
        <a href="contact.html" class="btn btn-outline-primary btn-style-outline ml-2">Связь с нами</a>
    </div>
</section>
<!-- //Medical Checkup -->
{% endblock %}